@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #000;
}


header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
}

header .logo img{
  max-width: 150px;
}

.navigation{
  display: flex;
}

.navigation li{
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a{
  color: #de0611;
}

.search{
  position: relative;
  width: 300px;
  height: 40px;
}

.search input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px;
  backdrop-filter: blur(10px);
}

.search input::placeholder{
  color: #fff;
}

.search .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 10px;
  color: #fff;
  border-right: 1px solid #fff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: relative;
  z-index: 1;
  max-width: 550px;
}

.movieTitle {
  max-width: 250px;
}

.banner .content h4{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.banner .content h4 span{
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .contene h4 span:first-child{
  padding-left: 0;
}

.banner .contene h4 span:last-child{
  border-right: none;
}

.banner .content h4 span i{
  background: #de0611;
  color: #fff;
  padding: 0 8px;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}

.banner .content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin: 10px 0 20px;
}

.banner .content .buttons {
  position: relative;
}

.banner .content .buttons a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #de0611;
  color: #fff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner .content .buttons a:nth-child(2){
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.banner .content .buttons a:hover:nth-child(2){
  background: #de0611;
}

.play{
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2em;
  cursor: pointer;
}

.play img{
  margin-right: 10px;
  max-width: 50px;
}

.trailer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.trailer.active{
  visibility: visible;
  opacity: 1;
}

.trailer video {
  max-width: 900px;
  outline: none;
}

.close{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
.login-btn {
  background-color: red;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 180px;
}
.login {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    color: red;    
}

.area-formulario {
    border: 1px solid red;
    border-radius: 15px;
    width: 500px;   
    height: auto; 
    padding: 32px;
    display: flex;
    flex-direction: column;       
}
.formulario {
    width: 400px;
    
}
.campos {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px 0;   
}

.campos input {
    border:1px solid red;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.btn-enviar{
    background-color: #04991c;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    width: 120px;
}
h3 {
    margin-top: 16px;
}
.btn-check{
position: relative !important;
}
img.net {
  display: block;
  
  width: 300px;
}




.tipos {
  margin-top: 200px; /* espaço abaixo do header */
  padding: 0 60px;   /* opcional: espaçamento lateral */
  z-index: 1;
  position: relative;
}


.tv-category {
  margin: 100px 60px;
}

.tv-category h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
}

.tv-carousel {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.tv-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 10px 0;
  scrollbar-width: none; /* Firefox */
}

.tv-row::-webkit-scrollbar {
  display: none; /* Chrome */
}

.tv-row img {
  max-height: 180px;
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}

.tv-row img:hover {
  transform: scale(1.05);
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.7);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.nav.prev {
  left: -10px;
}

.nav.next {
  right: -10px;
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

h1{
  color: red;
  justify-content: center;
  display: flex;
  font-size: 80px;
}
.erro{
  padding: 20px;
}
.erro h1{
  color: white;
  font-size: 25px;
}
.formulario a h3{
  color: red;
  text-decoration: none;
}
.bem_vindo{
  color: white;
  display: flex;
}
.bem_vindo img{
  width: 30px;
  border: 1px;
  border-radius: 10px;
}
.bem_vindo a{
  margin-left: 20px;
  color: red;
  text-decoration: none;
}

.tab_cli{
  margin-top: 10rem;

}

.Nome{
  color: white;
  padding: 50px;
}
.Nome h3{
  padding: 15px;
  border: 2px solid white;
  background-color: gray;
}

.botao{
  background-color: red;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  width: 100px;
  margin-left: 1700px;
  text-decoration: none;
}






@media (max-width: 991px){
  header{
    padding: 20px 50px;
    flex-direction: column;
  }
  .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .banner{
    padding: 100px 50px;
  }
  .banner .play{
    left: 50px;
    font-size: 1em;
  }
  .play img{
    margin-right: 10px;
    max-width: 40px;
  }
  .trailer video{
    max-width: 90%;    
  }
}



@media(max-width: 600px){
  header{
    padding: 20px;
  }
  .search{
    position: relative;
    width: calc(100% - 20px);
    height: 40px;    
  }
  .banner{
    padding: 220px 30px 120px;
  }
  .banner .play{
    left: 20px;
    font-size: 1em;
    bottom: 30px;
  }
}